/* ---- reset ---- */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.hero h1 {
  font-size: 40px;
  color: white;
  left: 50%;
  margin-bottom: 60px;
}

.hero p {
  font-size: 25px;
  color: white;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #003648;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

.hero {
  position: absolute;
  width: 100%;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.hero h1 {
  color: white;
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
}
#soon {
  font-size: 50px;
  margin-top: 30px;
}

#stats, .count-particles {
  -webkit-user-select: none;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}
